.main{
	padding-left: 62px;
	padding-top: 61px;
	background-color: white;
	box-shadow: 2px 2px 2px #dad0c6;
}
.main h3{
	font-size: 24px;
	color: #768263;
}
.imgBox{
	border:1px solid #999999;
	padding: 2px;
	width: 310px;
}

form{
	margin-top: 21px;
}
form label{
	display: inline-block;
	width: 50px;
	line-height: 32px;
	text-align: right;
	font-size: 13px;
	margin-right: 16px;
}
form input[type="text"],
form input[type="password"]{
	width: 234px;
	height: 30px;
	line-height: 30px;
	border:1px solid #cfcfcf;
	border-radius: 3px;
}
form>ul:first-child>li:nth-child(2){
	margin-top: 18px;
}
form input[type="text"]{
	color: #999;
	padding-left: 9px;
	width: 225px;
}
form>ul:first-child>li:nth-child(3){
	margin-top: 24px;
}
form>ul:first-child>li:nth-child(3)>label,
form>ul:first-child>li:nth-child(3)>span,
form>ul:first-child>li:nth-child(3)>a{
	line-height: 0;
}
form>ul:first-child>li:nth-child(3)>a{
	color: #87b32e;
	text-decoration: none;
}
form>ul:first-child>li:nth-child(3) .imgBox,
form p,
form ul:last-child{
	margin-left: 66px;
}
form>ul:first-child>li:nth-child(4){
	margin-top: 14px;
	vertical-align: middle;
}
form>ul:first-child>li:nth-child(4) span{
	vertical-align: 0px;
	color: #999;
 }
form>ul:first-child>li:nth-child(5){
	margin-top: 12px;
}
form>ul:first-child>li:nth-child(5) .submit{
	display: inline-block;
	width: 84px;
	height: 29px;
	background-color: #87bd34;
	border-radius: 3px;
	font-size: 14px;
	color: white;
	text-decoration: none;
	line-height: 29px;
	text-align: center;
}
form>ul:first-child>li:nth-child(5) a:last-child{
	color:#666;
	line-height: 29px;
	margin-left: 12px;
}
form p{
	color: #999;
	margin-top: 35px;
}
form ul:last-child li{
	float: left;
	margin-right: 3px;
}
form ul:last-child{
	margin-top: 14px;
	margin-bottom: 100px;
}
form ul:last-child li a{
	display: block;
	color: black;
	text-decoration: none;
	border:1px solid #dddddd;
	border-radius: 4px;
	padding: 4px 5px 4px 22px;
	background:linear-gradient(to top,#f7f7f7,#ffffff);
}
form ul:last-child li:first-child>a{
	background-image: url(../images/dengluImg/denglu_22.jpg);
	background-repeat: no-repeat;
	background-position: 3px 2px;
}
form ul:last-child li:nth-child(2)>a{
	background-image: url(../images/dengluImg/denglu_25.jpg);
	background-repeat: no-repeat;
	background-position: 3px 2px;
}
form ul:last-child li:nth-child(3)>a{
	background-image: url(../images/dengluImg/denglu_27.jpg);
	background-repeat: no-repeat;
	background-position: 3px 2px;
}
form ul:last-child li:nth-child(4)>a{
	background-image: url(../images/dengluImg/denglu_30.jpg);
	background-repeat: no-repeat;
	background-position: 3px 2px;
}
form ul:last-child li:last-child>a{
	background-image: url(../images/dengluImg/denglu_33.jpg);
	background-repeat: no-repeat;
	background-position: 3px 2px;
}
.left{
	float: left;
}
.sidebar{
	float: right;
	height: 371px;
	width: 234px;
	border-left: 1px dotted #e5e5e5;
	padding-left: 40px;
}
.sidebar h3{
	margin-top: 10px;
}
.sidebar p{
	margin-top: 47px;
}
.sidebar a{
	margin-top: 15px;
	display: block;
	width: 111px;
	height: 29px;
	border-radius: 3px;
	background-color: #ff5783;
	color: white;
	font-weight: bolder;
	font-size: 14px;
	text-decoration: none;
	line-height: 29px;
	text-align: center;
}